/lab8/ConsoleApp/ConsoleApp/obj
/lab8/ConsoleApp/WinFormsApp/bin
/lab8/ConsoleApp/WinFormsApp/obj
/lab10/ConsoleApp1/.vs
/lab10/ConsoleApp1/ConsoleApp1/bin
/lab10/ConsoleApp1/ConsoleApp1/obj
/lab11/ConsoleApp1/.vs
/lab11/ConsoleApp1/ConsoleApp1/bin
/lab11/ConsoleApp1/ConsoleApp1/obj
/lab7/patlab7/.vs
/lab7/patlab7/patlab7/bin
/lab7/patlab7/patlab7/obj
/lab8/ConsoleApp/.vs
/lab8/ConsoleApp/ClassLibrary/obj
/lab9/task1/task1/obj
/lab9/task1/.vs
/lab8/ConsoleApp/ConsoleApp/bin
/lab8/ConsoleApp/ClassLibrary/bin
/lab6/obj/Debug
/lab6/obj
/lab6/obj
/lab6/obj/Debug
/lab6/obj
